<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
</head>
<body>
  <h1>Dashboard</h1>
  
  <!-- User Management Button -->
  <%= link_to "User Management", users_path, class: "btn btn-primary" %>
  
  <!-- Post Management Button -->
  <%= link_to "Post Management", posts_path, class: "btn btn-success" %>
</body>
</html>
